obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
debug
release
*.ReSharper.user
~*
log*.txt
Spikes/Login-Registration/db/Server/Raven.Server.log*
Spikes/Login-Registration/db/Server/Data